################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/ActorSystem.Remote/obj/Debug
/ActorSystem.local/obj/Debug
/Shared/obj/Debug
